[Unit]
Description=Construct HTTP Socket
Documentation=https;//docs.construct.sh
After=network.target
PartOf=construct.service
Before=construct.service

[Socket]
ListenStream={{ .HTTPAddress }}
Accept=false
ReusePort=true
RemoveOnStop=true

MaxConnections=4096
MaxConnectionsPerSource=100

[Install]
WantedBy=sockets.target

