[Unit]
Description=Construct Unix Socket
Documentation=https://docs.construct.sh
PartOf=construct.service
Before=construct.service

[Socket]
# socket path
ListenStream=%t/construct/construct.sock
SocketMode=0660

# Misc
RemoveOnStop=true

[Install]
WantedBy=sockets.target