[Unit]
Description=Construct Daemon
Documentation=https://docs.construct.sh
Requires=construct.socket
After=construct.socket

[Service]
Type=simple
ExecStart={{ .ExecPath }} daemon run
Restart=on-failure
RestartSec=2s

RuntimeDirectory=construct
LogsDirectory=construct
ProtectSystem=true

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target